body{
    width : 100%;
    margin : 0;
}

header{
    width : 100%;
    display: flex;
    margin : 0;
    background-color: #6a3460;
    #container{
        width : 100%;
        display: flex;
        justify-content: space-between;
        margin:0;
        color : white;
        padding-right : 4%;
        #logo{
            width : 5%;
            margin: 0;
        }
        i{
            margin-top : 5%;
            font-size: 2em;
            &:hover{
                color : #000000;
            }
        }
    }
}

main{
    width : 100%;
    margin : 0;

    #hero{
        background-image: url(.././images/santorini.jpg);
        background-size: cover;
        width : 100%;
        margin : 0;
        font-family: "Oleo Script", system-ui;
        font-weight: 400;
        font-style: normal;
        position : relative;
        padding-top : 10%;
        padding-bottom : 45%;
        padding-right : 0;
        p{
            padding : 2%;
            color : white;
            font-size: 3em;
            position : absolute;
            margin:0;
            background-color: #6A3460;
            left : 10%;
        }
    }

    #choix{
        width : 100%;
        margin : 0;
        display : flex;
        background-color: #E4DCE2;
        flex-direction: column;

        h1{
            font-family: "Open Sans", sans-serif;
            font-optical-sizing: auto;
            font-weight: 700;
            font-style: normal;
            font-variation-settings:
            "wdth" 100;
            font-size: 30px;
            margin:auto;
            margin-top : 1%;
            margin-bottom:0;
        }

        #container{
            display : flex;
            width : 80%;
            margin :auto;
            margin-top : 1%;
            padding-bottom : 1%;
            justify-content: space-between;
            }

            .type{
                padding : 1%;
                display : flex;
                flex-direction: column;
                width : 20%;
                .photos{
                    width : 100%;
                    height: 100%;
                }
                &:hover{
                    background-color : #6A3460;
                }

                p{
                    margin: auto;
                    color: black;
                    font-family: "Open Sans", sans-serif;
                    font-optical-sizing: auto;
                    font-weight: 700;
                    font-style: normal;
                    font-variation-settings:
                    "wdth" 100;
                    font-size: 20px;
                    padding-bottom:0;
                }
            }
        }
    }
    
    #CTA{
        width : 100%;
        margin : 0;
        background : url(.././images/holiday.jpg);
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        #bouton{
            margin : auto;
            padding-top : 3%;
            padding-bottom : 3%;
            p{
                background-color: #6A3460;
                border-radius: 30px;
                border-color: white;
                border-style: solid;
                text-align: center;
                color: white;
                font-size : 30px;
                margin: auto;
                font-family: "Open Sans", sans-serif;
                font-optical-sizing: auto;
                font-weight: 700;
                font-style: normal;
                font-variation-settings:
                "wdth" 100;
                font-size: 24px;
                width : 20%;
                padding-top : 2%;
                padding-bottom : 2%;
                transition: all 1ms linear 1s;
                &:hover{
                    transform :scale(1.50);
                    background-color: white;
                    border-color: #6A3460;
                    color: #6A3460;
                }
            }
        }
    }
}

footer{
    margin:0;
    background-color: #6A3460;
    width : 100%;
    padding:0;
    #container{
        padding : 0;
        display:flex;
        background-color: #6A3460;
        width : 100%;
        margin:auto;
        #logo{
            margin:auto;
            width : 30%;
        }
    }
}